.colorMorado{
    background-color: rgb(182, 20, 182);
}
.colorCarne{
    background-color: rgb(228, 115, 100);
}
 .barraFixed{
background-color: gray;    
}
.hashtags{
  margin-right: 5px;
}
.imagenesAvatares{
 margin-right: 10px;
}
.readNext{
  padding: 10px 10px;
  background-color: white;
  h2{
    font-size: 20px;
  }
}
.seccionComentarios{
    padding: 0 10px;
    background-color: white;
}
.fondo{
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid gray;
  h2.principal-title{
    font-size: 30px;
  }
  h2.subtitles{
    font-size: 20px;
  }
  p{
    font-size: 18px;
  }
}
.imagenesComentarios{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
}
.barraSticky{
  top:4rem;
}
/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) and (max-width: 991px) { 
  .barraFixed{
    left: -15px;
    background-color: transparent;
  }
  .readNext{
    margin-top: 15px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) { 
  .fondo{
    padding: 0 50px;
    background-color: white;
    border-bottom: 1px solid gray;
    h2.principal-title{
      font-size: 50px;
    }
    h2.subtitles{
      font-size: 20px;
    }
    p{
      font-size: 20px;
    }
  }
  

.barraFixed{
    left: -24px;
    top: 60px;
    z-index: 0;
    background-color: transparent;
}


    .readNext{
    margin-top: 15px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) { 
  .fondo{
    padding: 0 50px;
    background-color: white;
    border-bottom: 1px solid gray;
    h2.principal-title{
      font-size: 50px;
    }
    h2.subtitles{
      font-size: 20px;
    }
    p{
      font-size: 20px;
    }
  }

  .barraFixed{
      background-color: transparent;
  }
}
